body {
	background-color: Yellow;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p{
	font-family:cursive;
	color: green;
}

section{
	margin: 0;
	margin: auto;
	width: 1160px;
}

section > img{
	width: 350px;
	height: 350px;
}
