body {
  background-color: #F7F7F7;
}

h2 {
  font-family: "Segoe UI", regular;
  font-size: 22px;
  color: #AF8447;
}

p{
  font-family: "Segoe UI", regular;
  font-size: 15px;
}

div.gallary{
  margin: 10px;
  float: left;
  width: 278px;
  background-color: #ffffff;
}

img {
  width: 278px;
  height: auto;
  border-radius: 4px;
}

div.beskrivelse{
  padding: 15px;
  text-align: center;
}
